$mainColor: #FFFB90;
$textColor: #1C1C1C;
$hoverColor: #AC9FFC;
$linearMain: linear-gradient(70deg, #AC9FFC, #474269);
$linearBlack: linear-gradient(70deg, #2A2A29, #1B1B1B);
$linearYel: linear-gradient(180deg, #FFE790, #FFF068);
$cardColor: #F6E06A;
$titleColor: #F6E06A;