@import "vars";
@import "mixins";

html {
    box-sizing: border-box;  
}
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
button {
    cursor: pointer;
}
input,
button,
textarea,
select {
    outline: none;
    font: inherit;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
}
h1 {
    font-family: 'Patrick Hand', cursive;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 50px 0;
}
.header__list {
    display: flex;

    &_item {
        margin-left: 50px;

        &:first-child {
            margin-left: 0;
        }
    }
}
.header__list_link {
    color: $mainColor;
    font-weight: 500;
    font-size: 16px;
    transition: all .6s;

    &:hover {
        color: $hoverColor;
    }
}
.header__media {
    display: flex;

    &_item {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}
.header__media_item-img {
    transition: all .6s;

    &:hover {
        transform: translateY(-10px);
    }
}



.header__content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 100px;
    font-weight: 200;
}
.header__content_title {
    font-size: 100px;
    color: $titleColor;
    margin-bottom: 20px;

    #span {
        transition: all .6s;
        transform: translateY(0);

        &.active {
            color: $hoverColor;
        }
    }
}
.header__content_text {
    font-size: 22px;
    font-weight: 400;
    color: $mainColor;
    margin-bottom: 70px;
}
.header__btn {
    width: 265px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    color: $textColor;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid $mainColor;
    border-radius: 5px;
    background-color: $hoverColor;
    transition: all 1s;

    &:hover {
        border: 3px solid $hoverColor;
        background-color: rgba(172, 159, 252, .5);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
}






.menu__section {
    background: $linearBlack;
    padding: 40px 0;
}
.menu__title {
    color: $titleColor;
    text-align: center;
    margin-bottom: 100px;
}
.menu__burgers {
    margin-bottom: 150px;
}
.burgers_card {
    display: flex;
    flex-direction: column;
}
.menu__cards_title {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 100px;
}
.card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 670px;
    min-height: 225px;
    background-color: $cardColor;
    box-shadow: 0 0 70px rgba(114, 113, 94, 1);
    border-radius: 40px;
    padding: 30px 40px 30px 30px;
    margin-bottom: 85px;
    transition: all 1s;

    &:hover {
        background-color: #AC9FFC;
        box-shadow: 0 0 40px rgb(104, 90, 143);
    }

    &:hover .card__count{
        color: #fff;
    }
}
.card__product {
    display: flex;
    flex-direction: column;
    transform: translateY(-5px);
}
.card__title {
    font-size: 30px;
    font-weight: 400;
    color: $textColor;
    transition: all 1s;
}
.card__img {
    width: 200px;
    height: 125px;
    transform: translate(-30px, 10px);
}
.first__card_img {
    transform: translate(-25px, 0);
}
.fifth__card_img {
    width: 220px;
    height: 135px;
    transform: translate(-40px, 10px);
}
.fourth__card_img-pizzas {
    transform: translate(-40px, 10px);
}
.card__info {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.card__count {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: all 1s;
}
.card__text {
    color: #000;
    line-height: 22px;
}
.pizzas__cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}








.party {
    background: $linearMain;
}