@import "vars";
@import "mixins";

html {
    box-sizing: border-box;  
}
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
button {
    cursor: pointer;
}
input,
button,
textarea,
select {
    outline: none;
    font: inherit;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
}
h1 {
    font-family: 'Patrick Hand', cursive;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 50px 0;
}
.header__list {
    display: flex;

    &_item {
        margin-left: 50px;

        &:first-child {
            margin-left: 0;
        }
    }
}
.header__list_link {
    color: $mainColor;
    font-weight: 500;
    font-size: 16px;
    transition: all .6s;

    &:hover {
        color: $hoverColor;
    }
}
.header__media {
    display: flex;

    &_item {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}
.header__media_item-img {
    transition: all .6s;

    &:hover {
        transform: translateY(-10px);
    }
}


.header__content {
    transition: all 1s;
}
.header__content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 100px;
    font-weight: 200;
}
.header__content_title {
    font-size: 100px;
    text-align: center;
    color: $titleColor;
    margin-bottom: 20px;

    #span {
        transition: all .6s;

        &.active {
            color: $hoverColor;
        }
    }
}
.header__content_text {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: $mainColor;
    margin-bottom: 70px;
}
.header__btn {
    width: 265px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    color: $textColor;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid $mainColor;
    border-radius: 5px;
    background-color: $hoverColor;
    transition: all 1s;

    &:hover {
        border: 3px solid $hoverColor;
        background-color: rgba(172, 159, 252, .5);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
}






.menu__section {
    background: $linearBlack;
    padding: 40px 0;
}
.menu__title {
    color: $titleColor;
    text-align: center;
    margin-bottom: 100px;
}
.menu__burgers {
    margin-bottom: 150px;
}
.burgers__cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.burgers_card {
    display: flex;
    flex-direction: column;
}
.menu__cards_title {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 100px;
}
.card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 59%;
    min-height: 225px;
    background-color: $cardColor;
    box-shadow: 0 0 70px rgba(114, 113, 94, 1);
    border-radius: 40px;
    padding: 30px 40px 30px 30px;
    margin-bottom: 85px;
    transition: all 1s;

    &:hover {
        background-color: #AC9FFC;
        box-shadow: 0 0 40px rgb(104, 90, 143);
    }

    &:hover .card__count{
        color: #fff;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
.card__product {
    display: flex;
    flex-direction: column;
    transform: translateY(-5px);
}
.card__title {
    font-size: 30px;
    font-weight: 400;
    color: $textColor;
    transition: all 1s;
}
.card__img {
    width: 200px;
    height: 125px;
    transform: translate(-30px, 10px);
}
.first__card_img {
    transform: translate(-25px, 0);
}
.fifth__card_img {
    width: 220px;
    height: 135px;
    transform: translate(-40px, 10px);
}
.fourth__card_img-pizzas {
    transform: translate(-40px, 10px);
}
.card__info {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.card__count {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: all 1s;
}
.card__text {
    color: #000;
    line-height: 22px;
}
.menu__ingredients_title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.menu__addition {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pizza__addition {
    align-items: flex-end;
    text-align: right;
}
.menu__ingredients {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.pizzas__cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}








.party {
    padding: 70px 0;
    background: $linearMain;
    color: #fff;
    text-align: center;
}
.party__title {
    margin-bottom: 120px;
}
.party__subtitle {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 70px;
}
.party__text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 150px;
    line-height: 30px;
}
.party__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.party__card {
    width: 31%;
}
.party__card_img {
    transition: all 1s;
    width: 90%;

    &:hover {
        transform: translate(0, -40px) rotateX(20deg) rotateY(20deg);
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
    }
}
.party__footer {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}












.gallery {
    background: $linearYel;
    padding: 70px 0 110px 0;
    color: $textColor;
}
.gallery__title {
    margin-bottom: 150px;
}
.gallery__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}
.slider {
    max-width: 850px;
    max-height: 550px;
    padding: 0 60px;
    margin-bottom: 100px;
}
.slider__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__item_img {
    margin: 0 auto;
    max-width: 850px;
    max-height: 550px;
}
.slider .slick-list {
    overflow: hidden;
}
.slider .slick-track {
    display: flex;
}
.slider__nav {
    width: 50%;
    max-width: 600px;
    max-height: 60px;
    overflow: hidden;
}
.slider__nav .slick-list {
    overflow: hidden;
}
.slider__nav .slick-track {
    display: flex;
}
.slider__nav .slick-slide {
    max-width: 100px;
}
.slider__nav_item {
    max-width: 100px;
}
.slider__nav_item-img {
    cursor: pointer;
    max-width: 100px;
    height: 60px;
}
.slider__nav .slick-arrow {
    position: absolute;
    top: 96%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    border: 0px;
    background: transparent;
    transition: all .6s;
}
.slider__nav .slick-arrow.slick-prev {
    left: 200px;
    border: 13px solid transparent; 
    border-right: 21px solid #333333;

    &:hover {
        border-right-color: #AC9FFC;
    }
}
.slider__nav .slick-arrow.slick-next {
    right: 200px;
    border: 13px solid transparent; 
    border-left: 21px solid #333333;

    &:hover {
        border-left-color: #AC9FFC;
    }
}







.holidays {
    background: linear-gradient(180deg, #FFF068, #FFE790);
    padding: 0 0 100px;
    color: $textColor;
}
.holidays__title {
    margin-bottom: 150px;
}
.holidays__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.holidays__subtitle, .holidays__text {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.holidays__subtitle {
    margin-bottom: 100px;
}
.holidays__images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.holidays__img {
    max-width: 48%;
    border-radius: 30px;
    transition: all .6s;

    &:hover {
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, .5);
        transform: scale(1.05);
    }
}





.contacts {
    background: $linearBlack;
    color: #fff;
    padding: 100px 0;
}
.contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__title {
    color: $hoverColor;
    margin-bottom: 70px;
}
.contacts__text {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}
.yellow {
    color: $mainColor;
    font-weight: 700;
}
.purple {
    color: $hoverColor;
    font-weight: 700;
}
.bold {
    font-weight: 900;
    margin-left: 3px;
    transition: all .6s;

    &:hover {
        color: $hoverColor;
    }
}
.contacts__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.contacts__info_tel {
    margin-bottom: 75px;
}
.contacts__info_title {
    font-size: 30px;
    font-weight: 700;
    color: $hoverColor;
    margin-bottom: 30px;
}
.contacts__info_text {
    margin-bottom: 30px;
    margin-left: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}
.info__text_map {
    color: #fff;
    margin-left: 3px;
}
.email {
    margin-left: 3px;
}
.contacts__info_time {
    span {
        margin-left: 3px;
    }

    .big {
        font-size: 18px;
        font-weight: 900;
    }
}
.contacts__info_right {
    width: 50%;
}
.contacts__map_item {
    width: 100%;
    min-height: 500px;
    border: 2px solid $hoverColor;
    box-shadow: 0 0 70px 10px rgba(172, 159, 252, .4);
    transition: all .6s;

    &:hover {
        border: 2px solid $mainColor;
        box-shadow: 0 0 60px 10px rgba(255, 251, 144, .3);
    }
}


.footer {
    background: #1B1B1B;
    padding: 100px 0 80px;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    margin-bottom: 40px;
}
.footer__media {
    display: flex;
    margin-bottom: 40px;
}
.footer__text {
    color: #fff;
    font-size: 18px;
    text-align: center;
}


.btn__to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(189, 189, 189, 0.2);
    backdrop-filter: blur(2px);
    font-size: 28px;
    border: none;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    transition: all .6s;
}
.btn__to_top.active {
    transform: scale(0);
}
.btn__to_top:hover {
    background-color: rgba(225, 225, 225, 0.633);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}
.btn__top_icon {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.burger__menu {
    display: none;
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 20px;

    &:hover .burger__menu_item {
        background-color: $hoverColor;
        width: 22px;
    }

    &:hover .burger__menu_item::before {
        background-color: $hoverColor;
        width: 22px;
    }

    &:hover .burger__menu_item::after {
        background-color: $hoverColor;
        width: 22px;
    }
}
.burger__menu_item {
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: $mainColor;
    right: 0;
    top: 50%;
    transition: all .6s; 

    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: $mainColor;
        right: 0;
        top: -5px;
        transition: all .6s; 
    }
    
    &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 1px;
        background-color: $mainColor;
        right: 0;
        top: 5px;
        transition: all .6s; 
    }
}









@media (max-width: 1400px) {
    .header__logo {
        width: 100px;
    }
    .header__media_item-img {
        width: 25px;
        transform: translateY(2px);
    
        &:hover {
            transform: translateY(-8px);
        }
    }
    .party {
        .container {
            padding: 0 30px;
        }
    }
}

@media (max-width: 1200px) {
    .header__list {
        &_item {
            margin-left: 40px;
        }
    }
    .header__list_link {
        font-size: 14px;
    }
    .header__media_item-img {
        width: 23px;
        transform: translateY(3px);
    
        &:hover {
            transform: translateY(-7px);
        }
    }
    .menu__section {
        .container {
            padding: 0 30px;
        }
    }
    .title {
        font-size: 80px;
    }
    .menu__cards_title {
        font-size: 40px;
    }
    .burgers__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pizzas__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        min-height: 225px;
        background-color: $cardColor;
        box-shadow: 0 0 70px rgba(114, 113, 94, 1);
        border-radius: 40px;
        padding: 30px 40px 30px 30px;
        margin-bottom: 85px;
        transition: all 1s;
    }
    .party__subtitle {
        font-size: 35px;
    }
    .party__text {
        font-size: 16px;
    }
    .party__card_img {
        width: 90%;
    }
    .gallery {
        .container {
            padding: 0 30px;
        }
    }
    .gallery__title {
        margin-bottom: 100px;
    }
    .slider {
        max-width: 850px;
        max-height: 550px;
        padding: 0 70px;
    }
    .slider__nav {
        width: 70%;
        max-width: none;
        max-height: 60px;
        overflow: hidden;
    }
    .slider__nav .slick-arrow.slick-prev {
        left: 0;
    }
    .slider__nav .slick-arrow.slick-next {
        right: 0;
    }
    .holidays__title {
        margin-bottom: 100px;
    }
    .holidays__images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .holidays__img {
        max-width: 80%;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 992px) {
    .header__top {
        align-items: flex-start;
        padding: 40px 30px 100px 30px;
    }
    .header__content_title {
        font-size: 80px;
        margin-bottom: 30px;
    }
    .header__content_text {
        font-size: 20px;
    }
    .header__btn {
        width: 240px;
        height: 64px;
        font-size: 16px;
    }
    .burger__menu {
        display: block;
        transform: translateY(30px);
    }
    .burger__menu.active {
        display: block;

        .burger__menu_item {
            width: 0; 
        
            &::before {
                width: 22px;
                right: 0;
                top: 0;
                transform: rotate(45deg);
                transition: all .6s; 
            }
            
            &::after {
                width: 22px;
                right: 0;
                top: 0;
                transform: rotate(-45deg);
                transition: all .6s; 
            }
        }
    }
    .header__list {
        position: absolute;
        left: 50%;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%, -300px);
        transition: all 1s;

        .header__list_item {
            margin-left: 0;
            margin-bottom: 30px;
        }

        .header__list_link {
            font-size: 18px;
        }
    }
    .header__list.active {
        transform: translate(-50%, 100px);
        transition: all 1s;
    }
    .header__media {
        display: none;
    }
    .header__content.active {
        transform: translateY(200px);
    }
    .card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 280px;
        width: 70%;
        min-height: 225px;
        background-color: $cardColor;
        box-shadow: 0 0 70px rgba(114, 113, 94, 1);
        border-radius: 40px;
        padding: 30px 30px 30px 30px;
        margin-bottom: 85px;
        transition: all 1s;
    }
    .card__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__count {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .card__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        transform: translateY(-5px);
    }
    .card__title {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        color: $textColor;
        transition: all 1s;
    }
    .card__img {
        width: 150px;
        height: 125px;
        transform: translate(0, 10px);
    }
    .first__card_img {
        transform: translate(0, 0);
    }
    .fifth__card_img {
        width: 220px;
        height: 135px;
        transform: translate(0, 10px);
    }
    .fourth__card_img-pizzas {
        transform: translate(0, 10px);
    }
    .card__count {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
        transition: all 1s;
    }
    .card__text {
        color: #000;
        line-height: 22px;
        text-align: center;
    }
    .party__title {
        margin-bottom: 50px;
    }
    .party__subtitle {
        font-size: 28px;
    }
    .party__text {
        font-size: 16px;
    }
    .party__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .party__card {
        margin-bottom: 70px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .party__card {
        width: 100%;
    }
    .party__card_img {
        width: 38%;
    }
    .gallery {
        .container {
            padding: 0 15px;
        }
    }
    .slider {
       width: 730px;
       padding: 0 20px;
    }
    .slider__item_img {
        max-width: 850px;
        max-height: 480px;
    }
    .contacts__text {
        font-size: 16px;
        line-height: 1.5em;
    }
    .contacts__info_title {
        font-size: 20px;
    }
    .contacts__info_text {
        font-size: 15px;
        margin-left: 30px;
    }
    .contacts__map_item {
        min-height: 400px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 50px;
    }
    .menu__cards_title {
        font-size: 30px;
    }
    .menu__addition {
        width: 90%;
    }
    .menu__ingredients_title {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    .menu__ingredients {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .party__title {
        margin-bottom: 50px;
    }
    .party__subtitle {
        font-size: 24px;
    }
    .party__text {
        font-size: 14px;
        margin-bottom: 100px;
    }
    .party__footer {
        font-size: 16px;
    }
    .gallery {
        background: $linearYel;
        padding: 70px 0 10px 0;
        color: $textColor;
    }
    .slider {
        width: 100%;
        min-width: 300px;
        padding: 0 45px;
    }
    .slider__item_img {
        width: 100%;
        min-width: 230px;
        max-height: 500px;
        min-height: 150px;
    }
    .holidays__subtitle, .holidays__text {
        font-size: 18px;
        line-height: 24px;
    }
    .holidays__text {
        font-size: 16px;
    }
    .contacts__text {
        font-size: 16px;
    }
    .contacts__info_title {
        font-size: 20px;
    }
    .contacts__info_text {
        font-size: 15px;
        margin-left: 30px;
    }
    .contacts__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .contacts__info_left {
        margin-bottom: 80px;
    }
    .contacts__info_right {
        width: 70%;
    }
    .contacts__map_item {
        width: 100%;
        height: 400px;
        min-height: 300px;
    }
    .footer__text {
        font-size: 16px;
    }
    .slider__nav .slick-arrow {
        top: 94%;
    }
    .slider__nav .slick-arrow.slick-prev {
        left: 0;
        border: 10px solid transparent; 
        border-right: 16px solid #333333;
    }
    .slider__nav .slick-arrow.slick-next {
        right: 0;
        border: 10px solid transparent; 
        border-left: 16px solid #333333;
    }
}

@media (max-width: 576px) {
    .header {
        height: 620px;
        background-size: cover;
    }
    .header__top {
        padding: 40px 15px 50px 15px;
    }
    .header__logo {
        width: 70px;
    }
    .burger__menu {
        display: block;
        transform: translateY(20px);
    }
    .header__list {
        transform: translate(-50%, -300px);

        .header__list_item {
            margin-left: 0;
            margin-bottom: 25px;
        }

        .header__list_link {
            font-size: 14px;
        }
    }
    .header__content_title {
        font-size: 50px;
    }
    .header__content_text {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .title {
        font-size: 40px;
    }
    .menu__cards_title {
        font-size: 30px;
    }
    .party__text {
        font-size: 12px;
        margin-bottom: 70px;
    }
    .party__card {
        width: 100%;
    }
    .party__card_img {
        width: 60%;
    }
    .party__footer {
        font-size: 12px;
    }
    .gallery {
        .container {
            padding: 0 10px;
        }
        padding-bottom: 10px;
    }
    .gallery__title {
        transform: translateX(5px);
        margin-bottom: 70px;
    }
    .slider {
        min-width: 300px;
        padding: 0 20px;
    }
    .slider__item {
        width: 100%;
        height: 100%;
    }
    .slider__item_img {
        width: 100%;
        min-width: 300px;
        max-height: 350px;
        min-height: 70px;
    }
    .slider__nav .slick-arrow {
        top: 90%;
    }
    .slider__nav .slick-arrow.slick-prev {
        left: 0;
        border: 10px solid transparent; 
        border-right: 16px solid #333333;
    }
    .slider__nav .slick-arrow.slick-next {
        right: 0;
        border: 10px solid transparent; 
        border-left: 16px solid #333333;
    }
    .holidays__subtitle, .holidays__text {
        font-size: 16px;
        line-height: 24px;
    }
    .holidays__subtitle {
        margin-bottom: 50px;
    }
    .holidays__text {
        font-size: 14px;
    }
    .contacts {
        padding: 50px 0 0 0;
    }
    .contacts__text {
        font-size: 15px;
    }
    .contacts__info_title {
        font-size: 18px;
    }
    .contacts__info_text {
        font-size: 14px;
    }
    .contacts__info_right {
        width: 100%;
    }
    .contacts__map_item {
        height: 300px;
    }
    .footer__logo {
        width: 100px;
    }
    .footer__text {
        font-size: 14px;
    }
}